.container {
  height: 4rem;
  background-color: #fff;
  border-bottom: 1px solid rgb(216, 222, 228);
  margin: 0 6rem;
  display: flex;
  position: sticky;
  top: 0;
}

.profileColumn {
  flex: 0 0 30%;
}

.repoColumn {
  flex: 0 0 70%;
  display: flex;
  align-items: flex-end;
}

.repoColumn a {
  text-decoration: none;
  color: #000;
  margin: 0.6rem 2rem;
  text-align: center;
  display: flex;
}

.repoColumn a svg {
  margin-right: 0.5rem;
}
